body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  padding-top: 20px;
  height: 100%;
  transition: 0.5s;
}

.sidebar.active {
  left: -250px;
}

.sidebar h2 {
  color: #fff;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px 0;
  text-align: center;
}

li a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.content {
  margin-left: 250px;
  padding: 20px;
}

.navbar {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  display: none;
}

.main {
  background-color: #fff;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #333;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

@media (max-width: 768px) {
  .sidebar {
    left: -250px;
  }

  .navbar {
    display: block;
  }

  .content {
    margin-left: 0;
  }
}

h2 {
  text-align: center;
  margin-top: 20px;
}

form {
  width: 80%;
  margin: 0 auto;
}

label {
  display: block;
  align-items: center;
  margin: 10px 0;
  font-weight: bold;
}

input[type="text"], input[type="number"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  margin-top: 1rem;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: #555;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  display: block;
}
