<body>
    {% include 'sidebar.html' %}
    <div class="content">    
        <div class="navbar">
            <h1>Adicionar Tarefas</h1>
        </div>
        <div class="main">
            <form action="/adicionar_tarefa" method="post">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" id="nome">
                <br>
                <label for="carga_de_trabalho">Carga de Trabalho:</label>
                <input type="number" name="carga_de_trabalho" id="carga_de_trabalho">
                <br>
                <label for="prazo">Prazo:</label>
                <input type="date" name="prazo" id="prazo">
                <br>
                <input type="submit" value="Adicionar Tarefa">
            </form>
        </div>
    </div>
</body>
</html>